<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <style type="text/css">
      body {
        color: blanchedalmond;
        background-color: steelblue;
        text-align: center;
      }
      a {
         color:white;
      }
      li {
        margin-top: 20px;
      }
    </style>
  </head>
  <body>
    <h1>Welcome to gitPub</h1>
    <ul>
    
      <% for (let i = 0; i < drinks.length; i++) { %>
      <li>
      <a href=" http://localhost:3000/drinks/<%= i %>"> <%=drinks[i].name.toUpperCase() %></a>
      <h3>Price: <%= drinks[i].price %></h3>
      <img src="<%= drinks[i].image %>" />
      </li>
      <% } %>
    </ul>
  </body>
</html>
