<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> <= drink.name </title>
    <style type="text/css">
        body {
          color: blanchedalmond;
          background-color: steelblue;
        }
      </style>
</head>
<body>
    <h1>At Foo Bar</h1>
      <ul>
        <% let Capitalized drink = drinks[i].name.charAt(0,1).toUpperCase() + drinks[i].name.slice(1); %>
        <h2>Name: <%= drink %> </h2>
          <a href=" = http://localhost:4000/foods<= i %> <= food %></a>"
        <h3>Price: <%= food[i].price %> </h3>
       <img src= <%=" food[i].image.repalce('.jpeg','.png')" %> >   
  </ul>
</body>
</html>
