
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> <% = food.name </title>
    <style type="text/css">
        body {
          color: blanchedalmond;
          background-color: steelblue;
        }
      </style>
</head>
<body>
    <h1>At Foo Bar</h1>
      <ul>
        <% let Capitalizedfood = food[i].name.charAt(0,1).toUpperCase() + foods[i].name.slice(1); %>
        <h3> Name: <% capilizedFood %> </h3>
         <h3>Price <% food.price </h3>
         <img src= <%=" food[i].image.repalce('.jpeg','.png')" %> >   
         <a href =/food ">Return Home</a>"
    </ul>
</body>
</html>

