<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <style type="text/css">
      body {
        color: blanchedalmond;
        background-color: steelblue;
        text-align: center;
      }
      a {
         color:white;
      }
      li {
        margin-top: 20px;
      }
    </style>    
  </head>
  <body>
    <h1>At Foo Bar</h1>
    <ul>
      <% for (let i = 0; i < food.length; i++) { %>
      <li>
      <a href=" http://localhost:3000/food/<%= i %>"> <%=food[i].name.toUpperCase() %></a>
      <h3>Price: <%= food[i].price %></h3>
      <img src="<%= food[i].image %>" />
      </li>
      <% } %>
    </ul>
  </body>
  <script type="text/javascript">
 {
}
  ;
  </script>
</html>
